@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca&family=Space+Mono:wght@700&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Lexend Deca", sans-serif;
  color: #939CAA;
}

h1, h2, h3, h4, h5, h6, button, a {
  font-family: "Space Mono", monospace;
  color: #495567;
}

h1 {
  font-size: 40px;
  line-height: 40px;
  letter-spacing: -1.79px;
}

p {
  font-size: 15px;
  line-height: 25px;
}

button, a, svg {
  cursor: pointer;
  transition: ease 0.3s;
}

button {
  background-color: #FCB72B;
  border: 1px solid #FCB72B;
  padding: 14px 39px;
  color: white;
  font-size: 15px;
  line-height: 25px;
}

button:hover {
  background-color: transparent;
  border: 1px solid #FCB72B;
  color: #FCB72B;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  display: block;
}

.container {
  width: 100%;
  padding-left: calc(8px + 1.5625vw);
  padding-right: calc(8px + 1.5625vw);
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 1201px) {
  .container {
    max-width: 1106px;
    padding-left: 0;
    padding-right: 0;
  }
}
header {
  position: fixed;
  z-index: 2;
  background-color: #fff;
  width: 100%;
  height: 64px;
  transition: ease 0.3s;
}

header .container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 22px 0;
}

#header-nav, .menu-close {
  display: none;
}

#header-nav {
  z-index: 3;
  top: 42px;
  left: 0;
  background-color: #333a44;
  height: 100vh;
  width: 70%;
  position: absolute;
  padding-top: 64px;
  padding-left: calc(8px + 1.5625vw);
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.menu-wrap a {
  color: #E5ECF4;
  font-size: 18px;
  line-height: 25px;
  display: block;
}

.menu-wrap a:not(:last-child) {
  margin-bottom: 24px;
}

.menu-wrap a:hover {
  color: #FCB72B;
}

#header-nav button {
  position: absolute;
  bottom: 100px;
  left: calc(8px + 1.5625vw);
}

.menu-open, .menu-close {
  cursor: pointer;
  position: absolute;
  left: calc(8px + 1.5625vw);
  margin-top: 2px;
}

.logo-header {
  width: 75.5px;
}

.overlay-menu {
  position: fixed;
  content: "";
  top: 0;
  left: 0;
  width: 0;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.75);
  z-index: 1;
}

@media screen and (min-width: 481px) {
  header {
    height: 96px;
  }
  header .container {
    margin: 22px 0;
  }
  .menu-close, .menu-open {
    display: none;
  }
  #header-nav {
    display: flex;
    flex-direction: row;
    position: relative;
    background-color: transparent;
    left: unset;
    top: unset;
    height: auto;
    padding: 0;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  #header-nav button {
    position: relative;
    bottom: unset;
    left: unset;
  }
  .menu-wrap, #header-nav button {
    width: -moz-fit-content;
    width: fit-content;
  }
  .menu-wrap a {
    display: inline;
    color: #939CAA;
    font-size: 15px;
  }
  .menu-wrap a:not(:last-child) {
    margin-bottom: 0;
    margin-right: 32px;
  }
  .logo-header {
    width: 108px;
    margin-right: 100px;
  }
}
@media screen and (min-width: 1201px) {
  header .container {
    margin: 22px auto;
  }
}
#hero {
  color: white;
  text-align: center;
  background-image: url("./assets/images/home-hero-mobile.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  position: relative;
  overflow: hidden;
}

#hero .container {
  padding-top: 179px;
  padding-bottom: 179px;
}

h1 {
  color: white;
}

#hero p {
  margin: 24px 0 34px;
}

.hero-arrow {
  position: absolute;
  bottom: 34px;
  left: -250px;
}

.hero-circles, .hero-line {
  display: none;
}

@media screen and (min-width: 481px) {
  #hero {
    background-image: url("./assets/images/home-hero-tablet.jpg");
  }
  #hero .container {
    padding-top: 233px;
    padding-bottom: 217px;
  }
  h1 {
    font-size: 56px;
    line-height: 56px;
    letter-spacing: -2.5px;
  }
  #hero h1 {
    max-width: 15ch;
    margin: auto;
  }
  #hero p {
    margin: 24px auto 32px;
    max-width: 62ch;
  }
  .hero-arrow {
    left: -170px;
  }
  .hero-circles {
    display: block;
    position: absolute;
    bottom: 45px;
    right: -30px;
  }
}
@media screen and (min-width: 1201px) {
  #hero {
    background-image: url("./assets/images/home-hero-desktop.jpg");
  }
  #hero .container {
    padding-top: 249px;
    padding-bottom: 152px;
    position: relative;
  }
  #hero h1 {
    text-align: left;
    margin-left: 0;
  }
  #hero p {
    max-width: 42ch;
    margin: 40px 0 40px 90px;
    text-align: justify;
  }
  #hero button {
    float: left;
    margin-left: 90px;
  }
  .hero-line {
    display: block;
    position: absolute;
    top: 64%;
    left: -180px;
  }
  .hero-arrow {
    top: 64%;
    left: 530px;
  }
  .hero-circles {
    bottom: unset;
    top: 75%;
    right: unset;
    left: 1050px;
  }
}
#steps {
  padding-top: 120px;
  padding-bottom: 120px;
}

.step h2 {
  font-size: 20px;
  line-height: 28px;
  letter-spacing: -0.89px;
  margin-top: 24px;
  margin-bottom: 24px;
}

.step {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.step:not(:last-child) {
  margin-bottom: 48px;
}

.step-icon {
  width: 56px;
}

.steps-line {
  display: none;
}

@media screen and (min-width: 481px) {
  #steps {
    padding-top: 122px;
    padding-bottom: 145px;
  }
  #steps .container {
    position: relative;
    max-width: 620px;
  }
  .step {
    flex-direction: row;
    text-align: left;
    align-items: flex-start;
  }
  .step:not(:last-child) {
    margin-bottom: 40px;
  }
  .step h2 {
    font-size: 24;
    letter-spacing: -1.07px;
    margin-top: 0;
    margin-bottom: 27px;
  }
  .step-icon {
    width: 96px;
    margin-right: 79px;
  }
  .steps-line {
    display: block;
    background-color: #E5ECF4;
    width: 15px;
    height: 100%;
    position: absolute;
    top: -122px;
    left: 62px;
    z-index: -1;
  }
}
@media screen and (min-width: 1201px) {
  #steps .container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    max-width: 1106px;
  }
  #steps {
    padding-top: 160px;
    padding-bottom: 200px;
  }
  .step h2 {
    margin-top: 40px;
  }
  .step {
    flex-direction: column;
    text-align: left;
  }
  .step:not(:last-child) {
    margin-bottom: 0;
    margin-right: 30px;
  }
  .step-icon {
    width: 96px;
    margin-right: 0;
  }
  .steps-line {
    width: 974px;
    height: 15px;
    top: 45px;
    left: -178px;
  }
}
.feature-img {
  border-radius: 50%;
  margin-bottom: 56px;
  width: 311px;
}

.feature {
  position: relative;
  overflow: hidden;
}

.feature .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 120px;
}

.feature p {
  margin-top: 32px;
  margin-bottom: 32px;
}

.feature h2, #signup h2 {
  font-size: 32px;
  line-height: 32px;
  letter-spacing: -1.43px;
}

.arrow-telemetry, .arrow-near-you, .arrow-payments {
  position: absolute;
}

.arrow-telemetry {
  top: 173px;
  left: 8%;
}

.arrow-near-you {
  top: 0;
  right: 30%;
}

.arrow-payments {
  top: 0;
  left: 40%;
}

@media screen and (min-width: 481px) {
  .feature-img {
    width: 445px;
  }
  .feature {
    background: url("./assets/patterns/circle.svg") no-repeat;
  }
  #payments, #telemetry {
    background-position: top 0 right -95%;
  }
  #near-you {
    background-position: top 0 left -95%;
  }
  .feature p {
    margin: 40px auto;
    max-width: 62ch;
  }
  .feature h2, #signup h2 {
    font-size: 48px;
    line-height: 48px;
    letter-spacing: -2.14px;
    max-width: 15ch;
  }
  .feature h2, #signup h2 {
    margin-left: auto;
    margin-right: auto;
  }
  .arrow-telemetry {
    top: 307px;
    left: unset;
    right: -5%;
  }
  .arrow-near-you {
    top: 0;
    right: unset;
    left: -10%;
  }
  .arrow-payments {
    top: 85px;
    left: 50%;
  }
}
@media screen and (min-width: 1201px) {
  #telemetry .container,
  #payments .container {
    flex-direction: row-reverse;
  }
  #near-you .container {
    flex-direction: row;
  }
  .feature .container {
    text-align: left;
    margin-bottom: 160px;
  }
  .feature p {
    margin-top: 24px;
    max-width: 50ch;
  }
  .feature-img {
    margin-bottom: 0;
  }
  #telemetry .feature-img,
  #payments .feature-img {
    margin-left: 220px;
  }
  #near-you .feature-img {
    margin-right: 220px;
  }
  #payments, #telemetry {
    background-position: top 0 right -15%;
  }
  #near-you {
    background-position: top 0 left -15%;
  }
  .arrow-telemetry {
    top: 307px;
    left: unset;
    right: 0;
  }
  .arrow-near-you {
    top: 0;
    right: unset;
    left: 0;
  }
  .arrow-payments {
    top: 85px;
    left: unset;
    right: -20%;
  }
}
#signup {
  background: url("./assets/patterns/semi-circles.svg"), #495567;
  background-repeat: no-repeat;
  background-size: 200%;
  background-position: bottom 0 right -70px;
  height: 320px;
}

#signup h2 {
  color: white;
  text-align: center;
  padding-top: 88px;
}

.download {
  padding-top: 40px;
  padding-bottom: 88px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.download a:not(:last-child) {
  margin-right: 13px;
}

.download img {
  height: 40px;
}

@media screen and (min-width: 481px) {
  #signup {
    background-size: 150%;
    background-position: bottom center;
    height: 300px;
  }
  #signup h2 {
    padding-top: 62px;
  }
  .download {
    padding-bottom: 62px;
  }
}
@media screen and (min-width: 1201px) {
  #signup {
    background-size: 70%;
    background-position: bottom 0 right -20%;
    display: flex;
    align-items: center;
    text-align: left;
  }
  #signup .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  #signup h2 {
    text-align: left;
    padding-top: 0;
    margin-left: 0;
  }
  .download {
    padding: 0;
  }
  .download img {
    height: 100%;
  }
  .download a:not(:last-child) {
    margin-right: 18px;
  }
}
footer {
  background-color: #333a44;
  padding-top: 64px;
  padding-bottom: 88px;
}

footer .container, .socials, .footer-nav {
  display: flex;
  align-items: center;
}

footer .container, .footer-nav {
  justify-content: center;
  flex-direction: column;
}

.footer-nav {
  margin-top: 41px;
  margin-bottom: 85px;
}

.footer-nav a {
  color: #939CAA;
}

.footer-nav a:not(:last-child) {
  margin-bottom: 16px;
}

.footer-nav a:hover {
  color: #FCB72B;
}

.socials a:not(:last-child) {
  margin-right: 24px;
}

.socials svg:hover path {
  fill: #E5ECF4;
}

@media screen and (min-width: 481px) {
  footer {
    padding: 35px 0;
  }
  footer .container {
    justify-content: space-between;
  }
  footer .container, .footer-nav {
    justify-content: start;
    flex-direction: row;
  }
  .footer-wrap {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  .footer-nav {
    margin-top: 0;
    margin-bottom: 0;
  }
  .footer-nav a:not(:last-child) {
    margin-bottom: 0;
    margin-right: 32px;
  }
  .logo-footer {
    width: 27%;
  }
}
#about-hero {
  color: white;
  text-align: center;
  background-image: url("./assets/images/about-hero-mobile.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  padding-top: 64px;
}

#about-hero .container {
  height: 224px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.faq h4 {
  font-size: 18px;
  line-height: 24px;
  letter-spacing: -0.8px;
}

.subpage-circles {
  display: none;
}

@media screen and (min-width: 481px) {
  #about-hero {
    background-image: url("./assets/images/about-hero-tablet.jpg");
    padding-top: 96px;
    overflow: hidden;
  }
  #about-hero .container {
    height: 296px;
    justify-content: space-between;
  }
  #about-hero h1 {
    margin-left: 70px;
  }
  .faq h4 {
    font-size: 24px;
    line-height: 28px;
    letter-spacing: -1.07px;
  }
  .subpage-circles {
    display: block;
    margin-right: -50px;
  }
}
@media screen and (min-width: 1201px) {
  #about-hero {
    background-image: url("./assets/images/about-hero-desktop.jpg");
  }
  #about-hero h1 {
    margin-left: 0;
  }
  .subpage-circles {
    margin-right: -180px;
  }
}
#about-main {
  margin-top: 72px;
  margin-bottom: 120px;
  overflow: hidden;
}

#about-main img {
  border-radius: 50%;
  width: 311px;
  z-index: -1;
}

.about-us {
  position: relative;
}

.about-us:not(:last-child) {
  margin-bottom: 120px;
}

.about-us .container {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about-us h2, #values h2, #faqs h2 {
  font-size: 32px;
  line-height: 32px;
  letter-spacing: -1.43px;
}

.about-us h2 {
  margin-top: 56px;
  margin-bottom: 32px;
}

.arrow-mobility, .arrow-better-living {
  position: absolute;
  z-index: 0;
}

.arrow-mobility {
  top: 20%;
  left: 8%;
}

.arrow-better-living {
  top: 0;
  right: 8%;
}

#values {
  margin-top: 120px;
  margin-bottom: 145px;
  text-align: center;
}

#values h3, #values h4, .faq h3 {
  font-size: 24px;
  line-height: 28px;
  letter-spacing: -1.07px;
}

#values h2 {
  margin-bottom: 64px;
}

#values h3 {
  width: 96px;
  height: 96px;
  padding-top: 33px;
  margin-top: -48px;
  background-color: #FCB72B;
  border-radius: 50%;
}

#values h4 {
  margin-top: 16px;
  margin-bottom: 27px;
}

.value {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.value:not(:last-child) {
  margin-bottom: 56px;
}

.value img {
  width: 240px;
  border-radius: 50%;
}

.better-living-circle, .mobility-circle {
  display: none;
}

@media screen and (min-width: 481px) {
  #about-main {
    margin-top: 144px;
  }
  #about-main img {
    width: 445px;
  }
  .about-us h2, #values h2, #faqs h2, #mission h2, #listed h2 {
    font-size: 48px;
    line-height: 48px;
    letter-spacing: -2.14px;
  }
  .about-us .container {
    position: relative;
  }
  .about-us h2 {
    margin-bottom: 40px;
    max-width: 16ch;
  }
  .about-us p, #values p, #mission p, #listed p {
    max-width: 60ch;
  }
  .about-us p, .about-us h2, #values p, #mission p, #listed h2, #listed p {
    margin-left: auto;
    margin-right: auto;
  }
  .arrow-mobility {
    top: 40%;
    left: unset;
    right: -5%;
  }
  .arrow-better-living {
    right: unset;
    left: -10%;
  }
  .better-living-circle, .mobility-circle {
    display: block;
    position: absolute;
    top: 0;
  }
  .mobility-circle {
    right: -300px;
  }
  .better-living-circle {
    left: -300px;
  }
  #values {
    margin-top: 120px;
    margin-bottom: 120px;
  }
  #values h2 {
    margin-bottom: 105px;
  }
  #values h4 {
    margin-top: 32px;
  }
  .value:not(:last-child) {
    margin-bottom: 56px;
  }
}
@media screen and (min-width: 1201px) {
  #about-main {
    margin-top: 120px;
  }
  .about-us h2 {
    margin-top: 0;
    margin-bottom: 24px;
    text-align: left;
  }
  .about-us p, #values p, #mission p, #listed p {
    max-width: 100%;
    text-align: left;
  }
  .about-us p, .about-us h2, #values p, #mission p, #listed h2, #listed p {
    margin-left: 0;
  }
  #mobility .container, #urban-living .container {
    display: flex;
  }
  #mobility .container {
    flex-direction: row-reverse;
  }
  #urban-living .container {
    flex-direction: row;
  }
  #mobility .about-us-detail {
    margin-right: 220px;
  }
  #urban-living .about-us-detail {
    margin-left: 220px;
  }
  .mobility-circle {
    right: -45%;
  }
  .better-living-circle {
    left: -45%;
  }
  .arrow-mobility {
    top: 60%;
  }
  #values .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .value:not(:last-child) {
    margin-bottom: 0;
    margin-right: 30px;
  }
  #values h4 {
    margin-top: 32px;
  }
  #values p {
    text-align: center;
  }
}
#faqs {
  margin-bottom: 104px;
}

#faqs h2, #faqs h3 {
  text-align: center;
}

#faqs h3 {
  margin-top: 48px;
  margin-bottom: 32px;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: -1.07px;
}

.faq h4 {
  font-size: 18px;
  line-height: 24px;
  letter-spacing: -0.8px;
}

.faq-container {
  margin-bottom: 16px;
  padding: 32px;
  background-color: #F2F5F9;
  transition: 0.3s ease;
}

.question {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.question[aria-expanded=true] + .answer {
  opacity: 1;
  max-height: 150px;
  transition: all 0.3s linear;
  will-change: opacity, max-height;
}

.answer {
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transition: all 0.3s ease-in;
  will-change: opacity, max-height;
}

.expand-icon {
  transform: rotate(0deg);
  transition: 0.3s linear;
}

.expand-icon.flip {
  transform: rotate(180deg);
}

@media screen and (min-width: 481px) {
  #faqs {
    margin-bottom: 120px;
  }
  #faqs h3 {
    margin-top: 64px;
    font-size: 40px;
    line-height: 48px;
    letter-spacing: -1.79px;
  }
  .faq h4 {
    font-size: 24px;
    line-height: 28px;
    letter-spacing: -1.07px;
  }
  .faq-container {
    margin-bottom: 24px;
  }
}
@media screen and (min-width: 1201px) {
  #faqs h2 {
    margin-bottom: 64px;
  }
  #faqs h3 {
    width: 35%;
    margin-top: 0;
    margin-right: 30px;
  }
  .faq {
    display: flex;
    align-items: flex-start;
  }
  .how-it-works, .safe-driving {
    width: 65%;
  }
  .faq-container {
    padding: 32px 40px;
  }
}
#career-hero {
  color: white;
  text-align: center;
  background-image: url("./assets/images/careers-location-hero-mobile.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  padding-top: 64px;
}

#career-hero .container {
  height: 224px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#mission {
  margin-top: 72px;
  margin-bottom: 120px;
  overflow: hidden;
  position: relative;
}

#mission img {
  z-index: -1;
  border-radius: 50%;
  width: 311px;
}

#mission .container {
  position: relative;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.arrow-mission {
  position: absolute;
  top: 25%;
  left: calc(8px + 1.5625vw);
}

#mission h2 {
  margin-top: 56px;
  margin-bottom: 32px;
}

#mission button {
  margin-top: 32px;
}

#mission a {
  color: white;
}

#mission a:hover {
  color: #FCB72B;
}

.mission-circle {
  display: none;
}

@media screen and (min-width: 481px) {
  #career-hero {
    background-image: url("./assets/images/careers-locations-hero-tablet.jpg");
    padding-top: 96px;
    overflow: hidden;
  }
  #career-hero .container {
    height: 296px;
    justify-content: space-between;
  }
  #career-hero h1 {
    margin-left: 70px;
  }
  #mission {
    margin-top: 144px;
  }
  #mission img {
    width: 451px;
  }
  .arrow-mission {
    top: 40%;
    left: unset;
    right: -15%;
  }
  .mission-circle {
    display: block;
    position: absolute;
    top: 0;
    right: -45%;
  }
  #mission h2 {
    margin-top: 64px;
    margin-bottom: 40px;
  }
  #mission button {
    margin-top: 40px;
  }
}
@media screen and (min-width: 1201px) {
  #career-hero {
    background-image: url("./assets/images/careers-locations-hero-desktop.jpg");
  }
  #career-hero h1 {
    margin-left: 0;
  }
  #mission {
    margin-top: 120px;
  }
  #mission img {
    width: 445px;
  }
  #mission .container {
    flex-direction: row-reverse;
  }
  .mission-detail {
    text-align: left;
    margin-right: 220px;
  }
  .arrow-mission {
    top: 60%;
    right: -5%;
  }
  .mission-circle {
    right: -45%;
  }
  #mission h2 {
    margin-top: 0;
    margin-bottom: 24px;
  }
}
#jobs {
  margin-bottom: 120px;
}

.job {
  background-color: #F2F5F9;
  padding: 32px;
  text-align: center;
}

.job:not(:last-child) {
  margin-bottom: 16px;
}

.job h2 {
  font-size: 18px;
  line-height: 24px;
  letter-spacing: -0.8px;
}

.job h3 {
  font-size: 15px;
  line-height: 25px;
  margin-top: 4px;
  margin-bottom: 16px;
}

.job button {
  width: 100%;
}

@media screen and (min-width: 481px) {
  .job {
    padding: 34px 48px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: left;
  }
  .job h2 {
    font-size: 24px;
    line-height: 28px;
    letter-spacing: -1.07px;
  }
  .job h3 {
    margin-top: 8px;
    margin-bottom: 0;
    font-family: "Lexend Deca", sans-serif;
  }
  .job button {
    max-width: 180px;
  }
}
#locations-hero {
  color: white;
  text-align: center;
  background-image: url("./assets/images/careers-location-hero-mobile.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  padding-top: 64px;
}

#locations-hero .container {
  height: 224px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#maps {
  margin: 72px auto;
  overflow: hidden;
}

#maps img {
  margin-bottom: 72px;
}

.city {
  background-color: #FFF4DF;
  padding: 22px;
  text-align: center;
  color: #495567;
  font-family: "Space Mono", monospace;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: -1.07px;
}

.city:not(:last-child) {
  margin-bottom: 16px;
}

#listed {
  text-align: center;
  margin-bottom: 72px;
}

#listed h2 {
  font-size: 32px;
}

#listed p {
  margin-top: 32px;
  margin-bottom: 32px;
}

@media screen and (min-width: 481px) {
  #locations-hero {
    background-image: url("./assets/images/careers-locations-hero-tablet.jpg");
    padding-top: 96px;
    overflow: hidden;
  }
  #locations-hero .container {
    height: 296px;
    justify-content: space-between;
  }
  #locations-hero h1 {
    margin-left: 70px;
  }
  #maps {
    margin-top: 144px;
  }
  #maps .container {
    position: relative;
    width: 689px;
  }
  #maps img {
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }
  .city {
    position: absolute;
    font-size: 13px;
    line-height: 28px;
    letter-spacing: -0.58px;
    background-color: #FCB72B;
    padding: 2px 30px;
  }
  .city::after {
    content: "";
    border: 8px solid transparent;
    position: absolute;
    border-top-color: #FCB72B;
    border-bottom: 0;
    bottom: -8px;
    left: 50%;
    margin-left: -8px;
  }
  .newyork {
    top: 18%;
    left: 15%;
  }
  .london {
    top: 5%;
    left: 37%;
  }
  .yokohama {
    top: 20%;
    left: 74%;
  }
  .jakarta {
    top: 50%;
    left: 70%;
  }
  #listed {
    margin-bottom: 120px;
  }
  #listed h2 {
    max-width: 12ch;
    font-size: 40px;
    line-height: 40px;
    letter-spacing: -2.14px;
  }
  #listed p {
    margin-top: 40px;
    margin-bottom: 40px;
  }
}
@media screen and (min-width: 1201px) {
  #locations-hero {
    background-image: url("./assets/images/careers-locations-hero-desktop.jpg");
  }
  #locations-hero h1 {
    margin-left: 0;
  }
  #maps {
    margin: 120px auto;
  }
  #maps .container {
    width: 1110px;
  }
  .newyork {
    top: 20%;
    left: 18%;
  }
  .london {
    top: 11%;
    left: 39%;
  }
  .yokohama {
    top: 26%;
    left: 79%;
  }
  .jakarta {
    top: 55%;
    left: 75%;
  }
  #listed .container {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: left;
  }
  #listed p {
    margin: 0 105px 0 30px;
    max-width: 45ch;
  }
}/*# sourceMappingURL=style.css.map */